*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}    
main{
    flex: 1 1 0;
}


/*navbar bootstrap*/
.principal{
   margin-top: 200px;
   border: 2px solid #15457A;
   padding: 10px;
}
.linha{
     
  margin: 5px;
  border: 2px solid rgb(255, 254, 254);
  width: 24px;
}
.imgf{
  display: flex;
  justify-content: space-between;
}
.menu{
  background-color: #15457A;
}
.menu .navbar-toggler{
  padding: 10px;
  border-color: white;
}

.menu2{
  background-color: white;
}

.nav-item{
  padding: 6px;
}

.menu2 .nav-link{
  color:  #120A8f;
}

/* fim nav bootstrap*/

.no-scroll{
  overflow: hidden;
}

.caixa {
  position: relative;

  margin: 0 auto;
}


.navDesk{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.linha{
  margin: 5px;
  border: 2px solid rgb(255, 254, 254);
  width: 24px;
}
footer {
  position: end;
  bottom: 0;
  width: 100%;
} 

@media (max-width:1280px){
 
}