*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}    

header {
  background: #120A8f;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1;
  margin-bottom: 10px;
  
}

/*navbar bootstrap*/
.linha{
   
  margin: 5px;
  border: 2px solid rgb(255, 254, 254);
  width: 24px;
}
.menu{
  background-color: #15457A;
}
.menu .navbar-toggler{
  padding: 10px;
  border-color: white;
}
.imgf{
  display: flex;
  justify-content: space-between;
}

.menu2{
  background-color: white;
}

.nav-item{
  padding: 6px;
}

.menu2 .nav-link{
  color:  #120A8f;
}

/* fim nav bootstrap*/

.banner {
  width: 100%;
}

.titulo-principal {
  position: relative;
  text-align: center;
  font-size: 2em;
  margin: 0 0 2em;
  clear: left;
}

.principal {
  padding: 3em 0;
  background: #FEFEFE;
  margin-top: 100px;

}

.principal p {
  margin: 0;
  text-align: justify;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.mapa {
  padding: 3em 0;
  
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.caixa, .principal, .mapa, .mapa-conteudo{
  width: auto;
}

h1{
  text-align: center;
}
p{
  text-align: center;
}


@media (max-width:1280px){
  .link{
    display:  none;
  }
  ul{
    display: flex;

    position: relative;
    top: -20px;

  }
  .menuHamburguer{
    display: block;
    margin-bottom: 80px;
  }
  ul{
    display: flex;
    justify-content: flex-start;
  }

}