*{
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: 'Montserrat', sans-serif;
  }    
  
  header {
    background: #120A8f;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 2;
    
  }
  .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 0;
    position: fixed;
    top: 0px;
    display: block;
    z-index: 2;
    background-color: #120A8f;
    height: 100%;
    border-right: 5px solid #665fc5;
    
    
}
.nav-item{
  display: flex;
  align-items: center;
  
}
.nav-menu{
  color: white;
  width: 100%;
   margin: 5px;
   padding: 20px;
   font-size: 17px;
   text-decoration: none;
}
.show{
    transform: translate3d(0px,0px,0px);
    transition: 0.5s;
}
.hide{
    transform: translate3d(-470px,0px,0px);
    transition: 0.5s;
}
.nav-item{
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 0;
  cursor: pointer;
  
}
.nav-item:hover{
  background-color: #2416df;
}
.link:hover{
  color: #101013;
}
.nav-item svg{
  margin-left: 10px;
}
.no-scroll{
  overflow: hidden;
}

  .caixa {
    position: relative;
    
    margin: 0 auto;
  }

  
  .navDesk{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .linha{
     
    margin: 5px;
    border: 2px solid rgb(255, 254, 254);
    width: 24px;
}

.menuHamburguer{
    
    padding: 10px;
    width: 32px;
    display: none;
    margin-left: 10px;
    
    
}

  nav li {
    display: inline;
    margin: 0 0 0 15px;
  }

  .link{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }
  main{
    position: relative;
    top: 200px;
  }
 footer{
  margin-top: 200px;
 }
   
  @media (max-width:1280px){
    .link{
        display:  none;
      }
      ul{
        display: flex;
      
        position: relative;
        top: -20px;
        
      }
        .menuHamburguer{
          display: block;
          margin-bottom: 80px;
        }
        ul{
          display: flex;
          justify-content: flex-start;
        }
        .navDesk{
           display: flex;
           justify-content: flex-start;
        }
     }